body{
    padding: 0;
    margin: 0;
}

.social-icons {
   display: flex;
}

.social-icons a {
    display: inline-block;
    background-color: #008000; 
    color: white;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
    border:#ffa500 1px solid;
    text-decoration: none; 
}

.social-icons img {
    width: 16px; 
    height: 16px;
}


.header {
    padding: 20px 0; 
    display: flex;
    align-items: center;
}
#name{
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 100px; 
    height: 100px;
    margin-right: 10px;
    vertical-align: middle; 
    margin-left: 10px;
}

.school-title {
    font-size: 4em; 
    color: #002868; 
    font-family: 'Old English Text MT', serif; 
    vertical-align: middle; 
    font-weight: bold;
}
.school-title-2 {
    padding-left: 10px;
    font-size: 2.5em; 
    color: #002868; 
    vertical-align: middle; 
    font-weight: bold;
}


.nav-menu {
    background-color: white;
    text-align: center;
    padding: 10px 0; 
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.nav-menu li {
    display: inline-block;
    position: relative;
    font-family: "Roboto";
    font-size: 15px;
    border: black 1px solid;
    width: auto;
    flex-grow: 1;
}
.nav-menu li:hover a:hover{
    color: #ffa500;
}

.nav-menu a {
    color: #002868; 
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    display: block;
    padding: 10px; 
}

.dropdown {
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    z-index: -10;
    min-width: 160px;
    box-sizing: border-box;
    width: 100%;
}

.nav-menu li:hover .dropdown {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    z-index: 1;    
}

.dropdown-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 1;
}

.dropdown-content a {
    color: #002868;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    margin: 0;
}



.mySlides {display: none;}
img {vertical-align: middle; width: 100%;}

/* Slideshow container */
.slideshow-container {
  min-width: 500px; /* Adjust as needed */
  position: relative;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
    0% { opacity: 0; } /* Start transparent */
    10% { opacity: 1; } /* Fully opaque quickly */
    90% { opacity: 1; } /* Stay opaque for most of the duration */
    100% { opacity: 0; } /* Fade out at the end */
}