body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
br{
    margin: 0;
}
body *{
    margin: 0;
}
#container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;
    transition: all 0.5s;
}

#logo {
    transition: all 0.5s;
    height: 90vh;
    width: 90vh;
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
}

#name {
    margin: auto;
    transition: all 0.5s;
}

#school-title {
    font-size: 4em;
    color: #002868;
    font-family: 'Old English Text MT', serif;
    vertical-align: middle;
    font-weight: bold;
}

#school-title-2 {
    padding-left: 10px;
    font-size: 2.5em;
    color: #002868;
    vertical-align: middle;
    font-weight: bold;
}